#view-two {
  #charts {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 12px;

    .chart {
      flex: 1 1 calc(100% / 3);
    }
  }
  .third_chart {
    margin-top: 12px;
  }

  .box h3 {
    padding-bottom: 0px;
  }
}
