#view-one {

  #controls {
    display: flex;
    gap: 32px;

    .box {
      flex: 1 0 40%;
    }

    #threshhold {
      #threshold-slider {
        margin-top: 24px;
      }
    }

    #summary {
      ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        li {
          margin-bottom: 16px;
        }
      }
    }
  }

  #scatter-cont {
    #scatter-filters {
      margin-bottom: 18px;
    }
  }

  #point-details {
    #no-point-message {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      padding: 36px 25%;
      color: gray;
    }
    
    #breakdown-cont {
      margin-top: 32px;

      #breakdown {
        display: flex;
        margin-top: 24px;
        box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.5s;

        &:hover {
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          transform: scale(0.99);
        }

        .breakdown-variable {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 6px;
          flex-basis: 0;
          padding: 40px 12px;
          text-align: center;
          transition: all 0.5s;

          &:not(:last-of-type):hover {
            opacity: 0.8;
          }
        }
      }
    }

    #detail-cont {
      display: flex;
      margin-top: 32px;

      &>div {
        flex: 1 0 calc(100% / 3);

        table {
          border-spacing: 0;
          border-collapse: separate;

          tr {
            &.current {
              td {
                background-color: #90caf9;
              }
            }

            td {
              padding: 4px 6px;
              transition: all 0.5s;
              &:first-child {
                border-top-left-radius: 10px; 
                border-bottom-left-radius: 10px;
              }
              &:last-child {
                border-bottom-right-radius: 10px; 
                border-top-right-radius: 10px; 
              }
            }
          }
          
        }
      }
    }
  }
}

