#view-one {

  #controls {
    display: flex;
    gap: 32px;

    .box {
      flex: 1 0 40%;
    }

    #threshhold {
      #threshold-slider {
        margin-top: 24px;
      }
    }

    #summary {
      ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        li {
          margin-bottom: 16px;
        }
      }
    }
  }

  #point-details {
    #breakdown-cont {
      margin-top: 32px;
      opacity: 0;
      overflow: hidden;
      transition: all 1s;
      
      &.visible {
        opacity: 1;
      }

      #breakdown {
        display: flex;
        margin-top: 24px;

        .breakdown-variable {
          padding: 40px 0;
          text-align: center;
          transition: all 0.5s;
        }
      }
    }

    #detail-cont {
      display: flex;
      margin-top: 32px;
      opacity: 0;
      transition: all 0.5s;

      &.visible {
        opacity: 1;
      }

      &>div {
        flex: 1 0 calc(100% / 3);

        table {
          td {
            padding-right: 18px;
          }
        }
      }
    }
  }
}