#view-two {
  .box {
    padding: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .chart {
    width: 50%;
    float: left;
  }
  .third_chart {
    margin-top: 40%;
  }

  .box h3 {
    padding-bottom: 0px;
  }
}
