#view-three {
  #about-madi-text {
    p{
      text-indent: 2em;
    }
  }

  #auc-explanation {
    display: flex;
    gap: 32px;

    .box {
      flex: 1 0;
    }
  }

  #auc-cont {
    display: flex;
    gap: 48px;

    .auc-wrapper {
      flex: 1 0 540px;
      max-width: 720px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p{
        margin-bottom: 16px;
      }
    }
  }
}